*.la
*.lo
*.o
.libs
.deps
Makefile
*.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libgrabkernel.pc
libgrabkernel/.deps/
libtool
ltmain.sh
m4/
missing
stamp-h1
